:root {
    --bs-primary:#ECBE25;
    --bs-primary-rgb:236, 190, 37;
    font-family: sans-serif;
}


#persona {
    text-align:right;
    justify-content:flex-end;
    margin-top: 0%;
    margin-right: 0%;
    font-family: sans-serif
}

.about {
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: clamp(.25rem, 5vw, 1rem);
    
}
.title-text {
    background-color: rgb(156,108,186);
    display: flex;
    text-align:center;
    justify-content:center;
    align-items:flex-end;
    font-size: clamp(.25rem, 5vw, 4rem);
    font-family: sans-serif;
    
}

.carousel-item img {
    display: flex;
    height: 25%;
    width: 25%;
    object-fit:contain;
    border-radius: 30%; 
    row-gap: 5%;
    justify-content: center;
    align-items: center;
}
.img-j {
    width: 200px;
    height: fit-content;
    height: 300px;
}
h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: sans-serif;
}
#fondo {
    background-color: rgb(156,108,186);
}
.bg-navbar {
    background-color: #ECBE25;
}
.fondo-1 {
        background-color:rgb(121,57,162)
    }


    #carousel {
        background-color:rgb(121,57,162) ;
        display: flex;
        -ms-flex-item-align: center;
        justify-content:center;
        align-items: center;  
    }
.listas {
    color: 000;
    list-style: none;
    cursor: pointer;         
    padding: 10px;
    border-radius: 5px;
}
li:hover {
    background-color: rgb(157, 227, 170) ;        
    transform: translateX(10px); 
}
