:root {
    --bs-primary:#ECBE25;
    --bs-primary-rgb:236, 190, 37;
    font-family: sans-serif;
}
html { scroll-behavior: smooth; }

.about {
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: clamp(.25rem, 5vw, 1rem);
    
}
.title-text {
    background-color: rgb(156,108,186);
    display: flex;
    text-align:center;
    justify-content:center;
    align-items:flex-end;
    font-size: clamp(.25rem, 5vw, 4rem);
    font-family: sans-serif;
    
}

.carousel-item img {
    display: flex;
    height: 20%;
    width: 20%;
    object-fit:contain;
    border-radius: 30%; 
    justify-content: center;
    align-items: center;
    border: 1px;
}
.carousel-item :hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    cursor: pointer; }
.img-j {
    width: 250px;
    height: fit-content;
    height: 250px;
    border-radius: 20%;

}
h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: sans-serif;
}
.fondo {
    background-color: rgb(156,108,186);
}
.bg-navbar {
    background-color: #ECBE25;
}
.fondo-1 {
        background-color:rgb(121,57,162)
    }


    .carousel {
        background-color:rgb(121,57,162) ;
        display: flex;
        -ms-flex-item-align: center;
        justify-content:center;
        align-items: center;  
    }
.listas {
    color: 000;
    list-style: none;
    cursor: pointer;         
    padding: 10px;
    border-radius: 5px;
}
li:hover {
    background-color: rgb(157, 227, 170) ;        
    transform: translateX(10px); 
}


.tarjet-border {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none; 
}

.tarjet-border:hover {
    transform: translateY(-10px); 
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important; 
    cursor: pointer;
}
.forma-look {
    display: flex;
    background-color:  rgb(156,108,186);
    border-radius: .25%;
    height: 100%;
    width: 100%;
}
.flotante-derecha {
    position: fixed;  
    bottom: 20px;     
    right: 20px;      
    z-index: 1000;    
    
    
    width: 60px;     
    cursor: pointer;  
    transition: transform 0.3s; 
}

.flotante-derecha:hover {
    transform: scale(1.1); 
}
.tree {
    display: flex;
    align-self: flex-end;
    justify-content: right;

}