.carousel-item img {
    height: 50%; 
    object-fit:contain;
}
#persona {
    text-align:right;
    justify-content:flex-end;
    margin-top: 0%;
    margin-right: 0%;
}

#carousel {
    background-color: #671d95a6;
    display: flex;
    -ms-flex-item-align: center;
    justify-content:flex-end;
    align-items: center;

}
.about {
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: clamp(.25rem, 5vw, 1rem);

}
.h1{
    background-color: #671d95a6;
    display: flex;
    text-align:justify;
    justify-content:center;
    align-items:flex-end;
    font-size: clamp(.25rem, 5vw, 4rem);
}
.carousel-item {
    height: 300px;
    width: 16%; /* Define una altura fija para el contenedor del carrusel */
    background-color: #bf0b34; /* Fondo negro por si la imagen es pequeña */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit:fill;
    border-radius: 20%; /* La imagen se ajustará sin cortarse y sin deformarse */
}
h1 {
  /* Sintaxis: clamp(mínimo, ideal, máximo) */
  font-size: clamp(2rem, 5vw, 4rem);
}
.habilidades {
    display:flex;
    flex-direction:column;
    text-align:left;
    justify-content: space-evenly;
    margin-top: 0;
    font-size: clamp(.25rem, 5vw, 1rem);
    background-color: #c160db;

}